<div id="header-post">
  <span id="menu">
    <%- partial('_partial/nav') %>
    <button id="menu-icon" class="active">
      <svg class="icon" width="20" height="20" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
        <path d="M1664 1344v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45z"></path>
      </svg>
    </button>
    <a id="top-icon-tablet" href="#">
      <svg class="icon" width="28" height="28" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
        <path d="M1683 1331l-166 165q-19 19-45 19t-45-19l-531-531-531 531q-19 19-45 19t-45-19l-166-165q-19-19-19-45.5t19-45.5l742-741q19-19 45-19t45 19l742 741q19 19 19 45.5t-19 45.5z"></path>
      </svg>
    </a>
    <br/>
    <div id="toc">
      <%- toc(page.content) %>
    </div>
  </span>
</div>
