<% if (page.categories && page.categories.length) { %>
  <div class="meta-item category">
    <svg class="icon" width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M1088 832q0-26-19-45t-45-19h-256q-26 0-45 19t-19 45 19 45 45 19h256q26 0 45-19t19-45zm576-192v960q0 26-19 45t-45 19h-1408q-26 0-45-19t-19-45v-960q0-26 19-45t45-19h1408q26 0 45 19t19 45zm64-448v256q0 26-19 45t-45 19h-1536q-26 0-45-19t-19-45v-256q0-26 19-45t45-19h1536q26 0 45 19t19 45z"></path>
    </svg>
    <div class="article-category">
      <%- list_categories(page.categories, { show_count: false, style: 'link', separator: ' › ' }) %>
    </div>
  </div>
<% } %>
