<% if (page.tags && page.tags.length) { %>
  <div class="meta-item">
    <svg class="icon" width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M576 448q0-53-37.5-90.5t-90.5-37.5-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm1067 576q0 53-37 90l-491 492q-39 37-91 37-53 0-90-37l-715-716q-38-37-64.5-101t-26.5-117v-416q0-52 38-90t90-38h416q53 0 117 26.5t102 64.5l715 714q37 39 37 91z"></path>
    </svg>
    <div class="article-tag">
      <%- list_tags(page.tags, { show_count: false, style: 'link' }) %>
    </div>
  </div>
<% } %>
