#header-post
  position: fixed
  top: 0
  right: 0
  display: inline-block
  float: right
  z-index: 100
  background: var(--color-actions)
  padding: 18px

  a
    background: none
    color: inherit
    text-decoration: none

  a.icon
    background: none

  ol.toc
    list-style-type: none
    padding-left: 0

  ul
    display: inline-block
    margin: 0
    padding: 0
    list-style-type: none

    li
      display: inline-block
      margin-right: 15px

    li:last-child
      margin-right: 0

  #menu-icon
    float: right

    &.active svg
      fill: var(--color-accent-1)

    &:hover svg
      fill: var(--color-accent-1)

  #top-icon-tablet
    border: none
    background: none
    position: fixed
    right: 2rem
    bottom: 2rem
    margin-right: 2rem
    margin-left: 15px

    &:hover svg
      fill: var(--color-accent-1)

  #menu
    margin-right: 2rem

  #nav
    color: var(--color-accent-1)
    letter-spacing: .01em
    font-weight: 200
    font-style: normal
    font-size: .8rem
    padding: 0 14px

    &.hidden
      display: none

    ul
      line-height: 15px

      a
        color: var(--color-accent-1)

      a:hover
        underline(5px, var(--color-accent-1))

      li
        margin-right: 20px

      li:last-child
        margin-right: 0
        border-right: 0

        a
          margin-right: 0

  #toc
    float: right
    clear: both
    overflow: auto
    margin-top: 1rem
    max-width: 20em
    max-height: calc(95vh - 7rem)
    text-align: right

    a:hover
      color: var(--color-link)

    .toc-level-2
      color: var(--color-text)
      font-size: .8rem

      &:before
        color: var(--color-accent-1)
        content: "#"

    .toc-level-3
      display: none

    .toc-level-4
      display: none

    .toc-level-5
      display: none

    .toc-level-6
      display: none

    .toc-number
      display: none

@media screen and (max-width: 440px)
  #header-post #menu #nav ul li
    margin-right: 15px

@media screen and (max-width: 414px)
  #header-post
    width: 100%
    padding: 0
    #menu
      margin-right: 0
      display: flex
      justify-content: center
    #menu-icon
      display: none
    #nav
      padding: 12px 14px
      ul
        li.categories
          display: none

@media screen and (max-width: 900px)
  #header-post
    #top-icon-tablet
      display: none

@media screen and (max-width: 1199px)
  #header-post
    #toc
      display: none
