article
  header
    .posttitle
      margin-top: 0
      margin-bottom: 10px
      text-transform: none
      font-size: 1.5em
      line-height: 1.25

    .meta-1
      display: flex
      justify-content: flex-start

      .meta-item div
        display: inline

      & *:not(:first-child)
        color: var(--color-accent-3)
        font-size: .85rem
        margin-left: 5px

    .meta-item div
        display: inline-block
        margin-left: 5px

    .postdate
      display: inline

  .content
    h2:before
      position: absolute
      top: -4px
      left: -1rem
      color: var(--color-accent-1)
      content: "#"
      font-weight: bold
      font-size: 1.2rem

    img
    video
      display: block
      margin: auto
      max-width: 80%
      height: auto

    /* http://webdesignerwall.com/tutorials/css-elastic-videos */
    .video-container
      position: relative
      overflow: hidden
      padding-top: (9 / 16 * 100)% // 16:9 ratio
      height: 0

      iframe, object, embed
        position: absolute
        top: 0
        left: 0
        margin-top: 0
        width: 100%
        height: 100%

    blockquote
      margin: 1rem 10px
      padding: .5em 10px
      background: inherit
      color: var(--color-quote)
      quotes: "\201C" "\201D" "\2018" "\2019"
      font-weight: bold

      p
        margin: 0

      &:before
        margin-right: .25em
        color: var(--color-quote)
        content: "\201C"
        vertical-align: -.4em
        font-size: 2em
        line-height: .1em

      footer
        margin: $line-height 0
        color: var(--color-meta)
        font-size: 11px

        a
          background-image: linear-gradient(transparent, transparent 5px, #666 5px, #666)
          color: var(--color-meta)

        a:hover
          background-image: linear-gradient(transparent, transparent 4px, lighten(#666, 20%) 4px, lighten(#666, 20%))
          color: lighten(#666, 20%)

        cite
          &:before
            padding: 0 .5em
            content: "—"

    .pullquote
      margin: 0
      width: 45%
      text-align: left

      &.left
        margin-right: 1em
        margin-left: .5em

      &.right
        margin-right: .5em
        margin-left: 1em

    .caption
      position: relative
      display: block
      margin-top: .5em
      color: var(--color-meta)
      text-align: center
      font-size: .9em

.posttitle
  text-transform: none
  font-size: 1.5em
  line-height: 1.25

.article-tag
  .tag-link
    &:before
      content: "#"
    underline(10px, var(--color-link))

.article-category
  .category-link
    underline(10px, var(--color-link))

@media (max-width: 790px)
  article
    header
      .meta-1
        flex-direction: column

        .meta-item
          margin-left: 0
          margin-bottom: 3px

          &.category
            display: none

        .meta-divider
          display: none

@media (min-width: 480px)
  .article-tag,
  .article-category
    display: inline
