#header
  margin: 0 auto 2rem
  width: 100%

  #title
    margin-bottom: 10px

  h1, .h1
    margin-top: 0
    margin-bottom: 0
    color: var(--color-text)
    letter-spacing: .01em
    font-weight: 700
    font-style: normal
    font-size: 1.5rem
    line-height: 2rem

    antialias()

  a
    background: none
    color: inherit
    text-decoration: none

  #logo
    display: inline-block
    float: left
    margin-right: 20px
    width: $logo-width
    height: $logo-height
    border-radius: 5px
    background-size: $logo-width $logo-height
    background-repeat: no-repeat

  #nav
    color: var(--color-accent-1)
    letter-spacing: .01em
    font-weight: 200
    font-style: normal
    font-size: .8rem

    ul
      margin: 0
      padding: 0
      list-style-type: none
      line-height: 15px

      a
        margin: 0 7px
        color: var(--color-accent-1)

      a:hover
        underline(5px, var(--color-accent-1))

      li
        display: inline-block
        margin-right: 15px
        cursor: pointer

      li:last-child
        margin-right: 0
        border-right: 0

        a
          margin-right: 0

#header:hover
  #logo
    filter: none
    -webkit-filter: none

@media screen and (max-width: 500px)
  #header #nav ul li a
    margin: 0 3px

@media screen and (max-width: 460px)
  #header #nav ul li.categories
    display: none

@media screen and (max-width: 480px)
  #header #title
    display: table
    margin-right: 5rem
    min-height: $logo-height
    h1
      display: table-cell
      vertical-align: middle

  #header #nav
    ul
      a:hover
        background: none

      li.icon
        position: absolute
        top: 77px
        right: 1rem
        display: inline-block

    ul.responsive
      li
        visibility: visible
        display: block
