img[src="./me.jpg"]
  max-width: 70% !important

.post-list
  padding: 0

  .post-item
    margin-bottom: 1rem
    margin-left: 0
    list-style-type: none

    .post-link
      font-size: 1.3rem

    .meta
      display: block
      margin-right: 16px
      min-width: 100px
      color: var(--color-meta)
      font-size: 0.8rem

      .meta-item
        display: inline-block

      svg.icon
        transform: translateY(2px)
        width: 14px

    .meta-date
      display: inline-block
      padding: 0 8px

    .post-description
      font-size: 0.9rem

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      flex-direction: column
      margin-bottom: 35px

      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none

  .project-item
    margin-bottom: 5px
    p
      display: inline
