#nav
  color: var(--color-accent-1)
  letter-spacing: .01em
  font-weight: 200
  font-style: normal
  font-size: .8rem

  ul
    margin: 0
    padding: 0
    list-style-type: none
    line-height: 15px

    a
      color: var(--color-accent-1)

    a:hover
      underline(5px, var(--color-accent-1))

    li
      display: inline-block
      margin-right: 20px
      cursor: pointer

      #theme-switcher
        cursor: pointer
        svg
          fill: #fcc21b
          transform: translateY(5px)
        .sun
          display: block
        .moon
          display: none
      #theme-switcher.light
        .moon
          display: block
        .sun
          display: none

      .donation
        width: 28px
        transform: translateY(5px)

    li:last-child
      margin-right: 0
      border-right: 0

    li.donation
      a::hover
        text-decoration: none


