<div id="archive">
  <ul class="post-list">
    <%
    let year = 0;
    let change = false;
    const field_sort = theme.archive.sort_updated ? 'updated' : 'date'
    page.posts.sort(field_sort, 'desc').each(function(post) {
      var itemYear = date(post[field_sort], 'YYYY') - 0;
      change = year !== itemYear;
      year = change ? itemYear : year;
      if (change) {
        %>
        <h2><%= year %></h2>
        <%
      }
      %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
      <%
    });
    %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
