<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="max-width-3 mx-auto px3 <%- theme.direction -%>">
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions') %>
    <% } %>
    <div class="content index py4">
      <% if (!is_post()) { %>
        <%- partial('_partial/header') %>
      <% } %>
      <%- body %>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/scripts') %>
</body>
</html>
