<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <%- partial('_partial/post/title', { post: page, index: false, class_name: 'posttitle' }) %>
    <div class="meta-1">
      <%- partial('_partial/post/date', { post: page, class_name: 'postdate' }) %>
      <span class="meta-divider">|</span>
      <%- partial('_partial/post/category') %>
      <span class="meta-divider">|</span>
      <%- partial('_partial/post/tag') %>
    </div>
    <div class="meta-item">
      <svg class="icon" width="16" height="16" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
        <path d="M1024 544v448q0 14-9 23t-23 9h-320q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h224v-352q0-14 9-23t23-9h64q14 0 23 9t9 23zm416 352q0-148-73-273t-198-198-273-73-273 73-198 198-73 273 73 273 198 198 273 73 273-73 198-198 73-273zm224 0q0 209-103 385.5t-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"></path>
      </svg>
      <div>
        Время прочтения: <%- reading_time() %>
      </div>
    </div>
  </header>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
<%- partial('_partial/comments') %>
