<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' https://www.google-analytics.com https://ssl.google-analytics.com; script-src 'self' 'unsafe-inline' https://www.google-analytics.com https://ssl.google-analytics.com; object-src 'none'; img-src 'self' data: https://www.google-analytics.com; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net/hint.css/2.4.1/hint.min.css;">
    <meta name="google-site-verification" content="wWTTiBE6a_Zr0tHhm7f_ImRjIhnZoZXWfVmr12uisL0" />
    <%- open_graph({
        image:          thumbnail(page),
        fb_app_id:      theme.open_graph.fb_app_id,
        fb_admins:      theme.open_graph.fb_admins,
        twitter_id:     theme.open_graph.twitter_id,
        google_plus:    theme.open_graph.google_plus
    }) %>
    <%- meta(page) %>
    <% if (theme.favicon) { %>
        <% if (theme.favicon.desktop) { %>
          <% if (theme.gravatar && theme.gravatar.email && theme.favicon.desktop.gravatar) { %>
              <link rel="shortcut icon" href="<%= gravatar(theme.gravatar.email, 16) %>">
          <% } else { %>
              <link rel="shortcut icon" href="<%= url_for(theme.favicon.desktop.url) %>">
          <% } %>
        <% } %>
        <% if (theme.favicon.android) { %>
          <% if (theme.gravatar && theme.gravatar.email && theme.favicon.android.gravatar) { %>
            <link rel="icon" type="image/png" href="<%= gravatar(theme.gravatar.email, 192) %>" sizes="192x192">
          <% } else { %>
            <link rel="icon" type="image/png" href="<%= url_for(theme.favicon.android.url) %>" sizes="192x192">
          <% } %>
        <% } %>
        <% if (theme.favicon.apple) { %>
          <% if (theme.gravatar && theme.gravatar.email && theme.favicon.apple.gravatar) { %>
            <link rel="apple-touch-icon" sizes="180x180" href="<%= gravatar(theme.gravatar.email, 180) %>">
          <% } else { %>
            <link rel="apple-touch-icon" sizes="180x180" href="<%= url_for(theme.favicon.apple.url) %>">
          <% } %>
        <% } %>
    <% } %>
    <title><%= page_title() %></title>
    <%- css('css/style') %>
    <% if (theme.rss === '' && config.feed && config.feed.path) { %>
      <% theme.rss = config.feed.path %>
    <% } %>
    <% if (theme.rss) { %>
      <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml" />
    <% } %>
</head>
