<header id="header">
  <a href="<%- url_for("/") %>">
  <% if (theme.logo && theme.logo.enabled) { %>
    <div id="logo" style="background-image: url(<%- url_for(theme.logo.url) %>);"></div>
  <% } %>
    <div id="title">
      <h1><%= config.title %></h1>
    </div>
  </a>
  <%- partial('_partial/nav') %>
</header>
